
.section1,.section3,.section5{
    background-color: rgb(249, 105, 122);
    
}
.section5{
    text-align: center;
    padding:10%
}

.section4{
    padding-left: 10%;
}
h1, .title,.section5{
    color: white;
    font-style: "Montserrat-Bold";
    font-weight: 700;
}
h2{
    color: black;
    font-style: "Montserrat-Bold";
    font-weight: 700;
    
}
.content{
    padding: 10%;
}

.section2{
    background-color: aliceblue;
    padding: 12%;
}
img{
    width:60%;
    margin: 10% 20% 0 0;
}
.testimonials{
    font-family: serif;
    font-size: 15px;
}
.card{
    margin: 3%;
    
}
.icon{
    color:rgb(249, 105, 122);
    margin:0 19%;
}
.icon1{
    color:rgb(249, 105, 122);
    
}
.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
    margin-left: 30%;
  }

.testimonial-text{
    font-size: 12px;
    color:white;
    margin:15px;
    text-align: center;
    padding: 3% 0;
}
